In [27]:
import pandas as pd
from pathlib import Path
import csv
import requests
import json
import matplotlib.pyplot as plt
import numpy as np

In [33]:
awards_file = Path("/Users/sandysamy/Desktop/Projects/Project-1/sloucel_analysis/oscar.csv")

awards_df = pd.read_csv(awards_file)



movie_file = Path("/Users/sandysamy/Desktop/Projects/Project-1/JV_Analysis/Movie_RawDataset.csv")

cast_df = pd.read_csv(movie_file)

cast_df.columns

Index(['Movie_Title', 'Year', 'Director', 'Actors', 'Rating', 'Runtime(Mins)',
       'Censor', 'Total_Gross', 'main_genre', 'side_genre', 'Movie Rated',
       'Language', 'Awards', 'Rotten Tomatoes Rating', 'IMDb Rating',
       'Metascore', 'IMDb ID', 'Box Office', 'Rotten Tomatoes', 'imdbID'],
      dtype='object')

In [34]:
cast_df.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,Movie Rated,Language,Awards,Rotten Tomatoes Rating,IMDb Rating,Metascore,IMDb ID,Box Office,Rotten Tomatoes,imdbID
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",Not Rated,Kannada,12 wins & 8 nominations,80%,8.2,NaN,NaN,NaN,Rating not found,tt15327088
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",PG-13,"English, Mandarin",Won 2 Oscars. 163 wins & 164 nominations total,94%,9.0,84,NaN,"$534,987,076",Rating not found,tt0468569
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",PG-13,"English, Quenya, Old English, Sindarin",Won 11 Oscars. 215 wins & 124 nominations total,94%,9.0,94,NaN,"$379,427,292",Rating not found,tt0167260
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",PG-13,"English, Japanese, French",Won 4 Oscars. 159 wins & 220 nominations total,87%,8.8,74,NaN,"$292,587,330",Rating not found,tt1375666
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",PG-13,"English, Sindarin, Old English",Won 2 Oscars. 132 wins & 138 nominations total,95%,8.8,87,NaN,"$342,952,511",Rating not found,tt0167261

In [35]:
cast_awards_df = pd.merge(cast_df, awards_df[['Film','Award', 'Nomination']], left_on='Movie_Title', right_on='Film', how='left')
cast_awards_df.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,...,Rotten Tomatoes Rating,IMDb Rating,Metascore,IMDb ID,Box Office,Rotten Tomatoes,imdbID,Film,Award,Nomination
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",...,80%,8.2,NaN,NaN,NaN,Rating not found,tt15327088,NaN,NaN,NaN
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",...,94%,9.0,84,NaN,"$534,987,076",Rating not found,tt0468569,The Dark Knight,2.0,8.0
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",...,94%,9.0,94,NaN,"$379,427,292",Rating not found,tt0167260,The Lord of the Rings: The Return of the King,11.0,11.0
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",...,87%,8.8,74,NaN,"$292,587,330",Rating not found,tt1375666,Inception,4.0,8.0
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",...,95%,8.8,87,NaN,"$342,952,511",Rating not found,tt0167261,The Lord of the Rings: The Two Towers,2.0,6.0

In [40]:
lead_actor = cast_awards_df[['Lead actor', 'Cast']] = cast_awards_df['Actors'].str.split(',', n=1, expand=True)

lead_actor.head()

                   0                                                 1
0      Rishab Shetty   Sapthami Gowda, Kishore Kumar G., Achyuth Kumar
1     Christian Bale        Heath Ledger, Aaron Eckhart, Michael Caine
2        Elijah Wood      Viggo Mortensen, Ian McKellen, Orlando Bloom
3  Leonardo DiCaprio   Joseph Gordon-Levitt, Elliot Page, Ken Watanabe
4        Elijah Wood      Ian McKellen, Viggo Mortensen, Orlando Bloom

In [43]:
cast_awards_df.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,...,Metascore,IMDb ID,Box Office,Rotten Tomatoes,imdbID,Film,Award,Nomination,Lead actor,Cast
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",...,NaN,NaN,NaN,Rating not found,tt15327088,NaN,NaN,NaN,Rishab Shetty,"Sapthami Gowda, Kishore Kumar G., Achyuth Kumar"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",...,84,NaN,"$534,987,076",Rating not found,tt0468569,The Dark Knight,2.0,8.0,Christian Bale,"Heath Ledger, Aaron Eckhart, Michael Caine"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",...,94,NaN,"$379,427,292",Rating not found,tt0167260,The Lord of the Rings: The Return of the King,11.0,11.0,Elijah Wood,"Viggo Mortensen, Ian McKellen, Orlando Bloom"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",...,74,NaN,"$292,587,330",Rating not found,tt1375666,Inception,4.0,8.0,Leonardo DiCaprio,"Joseph Gordon-Levitt, Elliot Page, Ken Watanabe"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",...,87,NaN,"$342,952,511",Rating not found,tt0167261,The Lord of the Rings: The Two Towers,2.0,6.0,Elijah Wood,"Ian McKellen, Viggo Mortensen, Orlando Bloom"

In [44]:

cast_awards_df['Movie_Title'].nunique

<bound method IndexOpsMixin.nunique of 0                                             Kantara
1                                     The Dark Knight
2       The Lord of the Rings: The Return of the King
3                                           Inception
4               The Lord of the Rings: The Two Towers
                            ...
5574                                   Disaster Movie
5575                          The Hottie & the Nottie
5576                             From Justin to Kelly
5577                     Superbabies: Baby Geniuses 2
5578                   Cumali Ceber: Allah Seni Alsin
Name: Movie_Title, Length: 5579, dtype: object>

In [47]:
cast_awards_df = cast_awards_df[cast_awards_df['Box Office'].notna()]
cast_awards_df.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,...,Metascore,IMDb ID,Box Office,Rotten Tomatoes,imdbID,Film,Award,Nomination,Lead actor,Cast
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",...,84,NaN,"$534,987,076",Rating not found,tt0468569,The Dark Knight,2.0,8.0,Christian Bale,"Heath Ledger, Aaron Eckhart, Michael Caine"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",...,94,NaN,"$379,427,292",Rating not found,tt0167260,The Lord of the Rings: The Return of the King,11.0,11.0,Elijah Wood,"Viggo Mortensen, Ian McKellen, Orlando Bloom"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",...,74,NaN,"$292,587,330",Rating not found,tt1375666,Inception,4.0,8.0,Leonardo DiCaprio,"Joseph Gordon-Levitt, Elliot Page, Ken Watanabe"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",...,87,NaN,"$342,952,511",Rating not found,tt0167261,The Lord of the Rings: The Two Towers,2.0,6.0,Elijah Wood,"Ian McKellen, Viggo Mortensen, Orlando Bloom"
5,The Lord of the Rings: The Fellowship of the Ring,2001,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",8.8,178,U,$315.54M,Action,"Adventure, Drama",...,92,NaN,"$316,115,420",Rating not found,tt0120737,The Lord of the Rings: The Fellowship of the Ring,4.0,13.0,Elijah Wood,"Ian McKellen, Orlando Bloom, Sean Bean"

In [48]:
cast_awards_df['Movie_Title'].nunique

<bound method IndexOpsMixin.nunique of 1                                         The Dark Knight
2           The Lord of the Rings: The Return of the King
3                                               Inception
4                   The Lord of the Rings: The Two Towers
5       The Lord of the Rings: The Fellowship of the Ring
                              ...
5574                                       Disaster Movie
5575                              The Hottie & the Nottie
5576                                 From Justin to Kelly
5577                         Superbabies: Baby Geniuses 2
5578                       Cumali Ceber: Allah Seni Alsin
Name: Movie_Title, Length: 5454, dtype: object>