In [13]:
import pandas as pd
from pathlib import Path
import csv
import requests
import json
import matplotlib.pyplot as plt
import numpy as np

In [14]:
movie_file = Path("/Users/sandysamy/Desktop/Projects/Project-1/JV_Analysis/Movie_RawDataset.csv")

cast_df = pd.read_csv(movie_file)

cast_df.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,Movie Rated,Language,Awards,Rotten Tomatoes Rating,IMDb Rating,Metascore,IMDb ID,Box Office,Rotten Tomatoes,imdbID
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",Not Rated,Kannada,12 wins & 8 nominations,80%,8.2,NaN,NaN,NaN,Rating not found,tt15327088
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",PG-13,"English, Mandarin",Won 2 Oscars. 163 wins & 164 nominations total,94%,9.0,84,NaN,"$534,987,076",Rating not found,tt0468569
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",PG-13,"English, Quenya, Old English, Sindarin",Won 11 Oscars. 215 wins & 124 nominations total,94%,9.0,94,NaN,"$379,427,292",Rating not found,tt0167260
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",PG-13,"English, Japanese, French",Won 4 Oscars. 159 wins & 220 nominations total,87%,8.8,74,NaN,"$292,587,330",Rating not found,tt1375666
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",PG-13,"English, Sindarin, Old English",Won 2 Oscars. 132 wins & 138 nominations total,95%,8.8,87,NaN,"$342,952,511",Rating not found,tt0167261

In [15]:
lead_actor = cast_df[['Lead actor', 'Cast']] = cast_df['Actors'].str.split(',', n=1, expand=True)

lead_actor.head()

                   0                                                 1
0      Rishab Shetty   Sapthami Gowda, Kishore Kumar G., Achyuth Kumar
1     Christian Bale        Heath Ledger, Aaron Eckhart, Michael Caine
2        Elijah Wood      Viggo Mortensen, Ian McKellen, Orlando Bloom
3  Leonardo DiCaprio   Joseph Gordon-Levitt, Elliot Page, Ken Watanabe
4        Elijah Wood      Ian McKellen, Viggo Mortensen, Orlando Bloom

In [16]:
cast_df.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,...,Awards,Rotten Tomatoes Rating,IMDb Rating,Metascore,IMDb ID,Box Office,Rotten Tomatoes,imdbID,Lead actor,Cast
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",...,12 wins & 8 nominations,80%,8.2,NaN,NaN,NaN,Rating not found,tt15327088,Rishab Shetty,"Sapthami Gowda, Kishore Kumar G., Achyuth Kumar"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",...,Won 2 Oscars. 163 wins & 164 nominations total,94%,9.0,84,NaN,"$534,987,076",Rating not found,tt0468569,Christian Bale,"Heath Ledger, Aaron Eckhart, Michael Caine"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",...,Won 11 Oscars. 215 wins & 124 nominations total,94%,9.0,94,NaN,"$379,427,292",Rating not found,tt0167260,Elijah Wood,"Viggo Mortensen, Ian McKellen, Orlando Bloom"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",...,Won 4 Oscars. 159 wins & 220 nominations total,87%,8.8,74,NaN,"$292,587,330",Rating not found,tt1375666,Leonardo DiCaprio,"Joseph Gordon-Levitt, Elliot Page, Ken Watanabe"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",...,Won 2 Oscars. 132 wins & 138 nominations total,95%,8.8,87,NaN,"$342,952,511",Rating not found,tt0167261,Elijah Wood,"Ian McKellen, Viggo Mortensen, Orlando Bloom"