In [2]:
import pandas as pd
import csv
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [9]:
working_moviedata_df = pd.read_csv("../jeff_analysis/working_moviedata.csv")
movie_awards_2_df = pd.read_csv("../sloucel_analysis/movies_awards_2.csv")

movie_awards_2_df.rename(columns={"Movie_Title": "title"}, inplace=True)
movie_awards_2_df.head()

merge_df = pd.merge(working_moviedata_df, movie_awards_2_df, how='left', on='title')
merge_df

,title,revenue,budget,genres,release_date,original_language,profit,Year,Director,Actors,...,Language,Rotten Tomatoes Rating,IMDb Rating,Metascore,Box Office,imdbID,Oscar Awards,Oscar Nominations,Award Wins,Award Nominations
0,Inception,825532764,160000000,"Action, Science Fiction, Adventure",7/15/2010,en,665532764,2010.0,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",...,"English, Japanese, French",0.87,8.8,74.0,"$292,587,330",tt1375666,4.0,8.0,159.0,220.0
1,Interstellar,701729206,165000000,"Adventure, Drama, Science Fiction",11/5/2014,en,536729206,2014.0,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",...,Language not found,NaN,NaN,NaN,Box Office not found,imdbID not found,1.0,5.0,0.0,0.0
2,The Dark Knight,1004558444,185000000,"Drama, Action, Crime, Thriller",7/16/2008,en,819558444,2008.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,"English, Mandarin",0.94,9.0,84.0,"$534,987,076",tt0468569,2.0,8.0,163.0,164.0
3,Avatar,2923706026,237000000,"Action, Adventure, Fantasy, Science Fiction",12/15/2009,en,2686706026,2009.0,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",...,"English, Spanish",0.82,7.9,83.0,"$785,221,649",tt0499549,3.0,9.0,91.0,131.0
4,The Avengers,1518815515,220000000,"Science Fiction, Action, Adventure",4/25/2012,en,1298815515,2012.0,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",...,"English, Russian",0.91,8.0,69.0,"$623,357,910",tt0848228,NaN,NaN,39.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7346,Hit the North,50000,50000,NaN,NaN,en,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7347,Sudakshinar Saree,500000,350000,"Drama, Family, Documentary",1/17/2020,en,150000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7348,Adisu Sew (አዲሱ ሰው),1200000,500000,NaN,8/12/2020,en,700000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7349,Anowara,70860,47240,Drama,3/20/1967,en,23620,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7350,MagicalDemons,420000,90000,NaN,NaN,en,330000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7351 entries, 0 to 7350
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   7351 non-null   object
 1   revenue                 7351 non-null   int64
 2   budget                  7351 non-null   int64
 3   genres                  7258 non-null   object
 4   release_date            7265 non-null   object
 5   original_language       7351 non-null   object
 6   profit                  7351 non-null   int64
 7   Year                    3796 non-null   float64
 8   Director                3796 non-null   object
 9   Actors                  3796 non-null   object
 10  Rating                  3796 non-null   float64
 11  Runtime(Mins)           3796 non-null   float64
 12  Censor                  3796 non-null   object
 13  Total_Gross             3796 non-null   float64
 14  main_genre              3796 non-null   object
 15  side_genre              3796 non-null   object
 16  Movie Rated             3793 non-null   object
 17  Language                3795 non-null   object
 18  Rotten Tomatoes Rating  725 non-null    float64
 19  IMDb Rating             730 non-null    float64
 20  Metascore               720 non-null    float64
 21  Box Office              3783 non-null   object
 22  imdbID                  3796 non-null   object
 23  Oscar Awards            466 non-null    float64
 24  Oscar Nominations       466 non-null    float64
 25  Award Wins              3796 non-null   float64
 26  Award Nominations       3796 non-null   float64
dtypes: float64(11), int64(3), object(13)
memory usage: 1.5+ MB

In [10]:
merge_df.to_csv('clean_movies_3.csv', index=False)