In [1]:
import pandas as pd
import csv
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [3]:
movie_file = Path("../jeff_analysis/final_df.csv")

movie_df = pd.read_csv(movie_file)
movie_df.head()

,title,revenue,budget,genres,release_date,Rotten Tomatoes Rating,Metascore,profit,Director,Actors,main_genre_movie,side_genre_movie
0,Inception,825532764,160000000,"Action, Science Fiction, Adventure",7/15/2010,0.87,74,665532764,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Action,"Adventure, Sci-Fi"
1,Interstellar,701729206,165000000,"Adventure, Drama, Science Fiction",11/5/2014,0.73,74,536729206,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",Adventure,"Drama, Sci-Fi"
2,The Dark Knight,1004558444,185000000,"Drama, Action, Crime, Thriller",7/16/2008,0.94,84,819558444,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Action,"Crime, Drama"
3,Avatar,2923706026,237000000,"Action, Adventure, Fantasy, Science Fiction",12/15/2009,0.82,83,2686706026,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Action,"Adventure, Fantasy"
4,The Avengers,1518815515,220000000,"Science Fiction, Action, Adventure",4/25/2012,0.91,69,1298815515,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",Action,"Adventure, Sci-Fi"